:host {
  display: block;
}

.text-15 {
  font-size: .9375rem;
}

.text-textMedium {
  opacity: 1;
  color: #5e6c84;
  color: rgba(94, 108, 132, var(--text-opacity));
}

.relative {
  position: relative;
}

.mx-2 {
  margin-left: .5rem;
  margin-right: .5rem;
}

.point {
  cursor: pointer;
}
