<div class="text-textMedium text-15">
    <span *ngFor="let item of items; let idx = index" [ngClass]="{'point': idx !== items.length -1, 'text-bold': idx === items.length -1}">
        <span class="relative mx-2 font-lg" style="font-weight: normal !important;"
              *ngIf="idx !== 0">/</span>
      {{ item }}
    </span>
</div>

