<div id="data-binding" style="padding-bottom: 2rem">
  <div id="breadcrumb">
    <app-breadcrumb [items]="['Trang chủ', 'Data Binding']"></app-breadcrumb>
  </div>
  <div id="content" class="pt2">
    <article nz-typography>
      <h1 nz-typography style="font-size: 25px">Khái niệm</h1>
      <p>Data binding automatically keeps your page up-to-date based on your application's state. You use data binding
        to specify things such as the source of an image, the state of a button, or data for a particular user.</p>
      <p>Hiểu đơn giản là: <span class="text-bold">Data binding tự động giữ trang web của bạn luôn luôn "up-to-date" khi application thay đổi</span>
      </p>
      <p>Angular cung cấp 2 loại data binding: <span class="text-bold">One way binding</span> và <span
        class="text-bold">Two way binding</span></p>
    </article>
    <article nz-typography>
      <h1 nz-typography style="font-size: 25px">One way binding</h1>
      <p>Hiểu đơn giản nó là binding chiều, từ component sang view hoặc từ view sang component. Lấy 1 ví dụ đơn giản: Có
        1 đường ống nước, 2 đầu, A cầm 1 đầu và B cầm 1 đầu, 1 đầu là view và 1 đầu là source</p>
      <p>Vậy binding one way là cách A đổ nước từ đầu A cầm, và B sẽ nhận được nước khi A đổ vào ống</p>
      <p>Tương tự cũng như A sẽ nghe thấy tiếng mà B gõ từ đầu của B truyền sang đầu ống của A vậy. Đều là 1 chiều!</p>
      <p class="text-bold">Với trường hợp từ component sang view, chúng ta sử dụng cú pháp
        <span>{{"[binding-target]=\"binding-source\""}}</span></p>
      <p>Ví dụ: <span style="background: antiquewhite">{{vi}}</span></p>
      <p>với: <span class="text-bold">value</span>: binding-target</p>
      <p>với: <span class="text-bold">user.name</span>: binding-source</p>
      <p>{{""}}</p>
      <p class="text-bold">Với trường hợp từ view sang component được gọi là <span>EVENT BINDING</span></p>
      <p>JavaScript sử dụng rất nhiều đến khái niệm event. Khi một điều gì đó xảy ra, chúng ta muốn thực hiện một số
        task nào đó. Ví dụ, khi người dùng click vào button, tôi muốn hiển thị alert cho người dùng nhìn thấy. Angular
        có cách nào chính thống cho việc này không đây, hay chúng ta sẽ dùng addEventListener như thường? Câu trả lời
        chính là Event binding. Để gắn event listener vào một phần tử nào đó ở trên template, chúng ta có thể sử dụng cú
        pháp ngoặc tròn tròn như sau: (event-source)=target</p>
      <p>Ví dụ: <span style="background: antiquewhite">{{eb}}</span></p>
      <p>với: <span class="text-bold">click</span>: event-source</p>
      <p>với: <span class="text-bold">showInfo()</span>: target</p>
      <p>Tức là khi ta click vào button sẽ tác động vào hàm showInfo</p>
    </article>
    <div id="example">
      <p>Ví dụ dưới đây, trường Họ và tên là binding one way từ component tới view </p>
      <p>Trường Email là binding two way từ component tới view </p>
      <p>Button Show Info là event binding two way từ view tới component </p>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label for="userName">Họ và Tên</label>
            <input type="text" [ngModel]="user.name" class="form-control" id="userName" aria-describedby="emailHelp"
                   placeholder="Enter email">
          </div>
          <div class="col-md-4">
            <label for="mail">Mail</label>
            <input type="text" [(ngModel)]="user.mail" class="form-control" id="mail" aria-describedby="emailHelp"
                   placeholder="Enter email">
          </div>
          <div class="col-md-4">
            <div> {{user | json}}</div>
            <div>Event CLick : {{eventMount.type | json}}</div>
          </div>
          <div class="col-md-4" style="padding-top: 10px">
            <button type="button" class="btn btn-primary" (click)="showInfo($event)">Show Info</button>
          </div>
        </div>
      </div>
      <p style="padding-top: 10px">
      <p> Khi thay đôi giá trị của fiel, thay đổi bao nhiêu lần field Họ và tên đi nữa, thì giá trị của User.name không
        thay đổi, và ngược lại, mỗi lần thay đổi</p>
      <p> field Mail thì giá trị của field uer.mail sẽ được cập nhật ngay tức khắc</p>
    </div>
  </div>
</div>
