<div id="welcome" style="padding-bottom: 2rem">
  <div id="breadcrumb">
    <app-breadcrumb [items]="['Trang chủ', 'Tài liệu']"></app-breadcrumb>
  </div>
  <div id="content" class="pt2">
    <article nz-typography>
      <h1 nz-typography style="font-size: 25px">Tài liệu</h1>
      <div nz-row nz-typography>
        <div nz-row *ngFor="let doc of documents">
          <app-nz-card-pro
            [title]="doc.title"
            [description]="doc.description"
            [url]="doc.url"
            [urlImage]="doc.urlImage"
          ></app-nz-card-pro>
        </div>
      </div>
    </article>
    <article nz-typography style="padding-top: 1rem">
      <h1 nz-typography style="font-size: 25px">Thư viện đính kèm</h1>
      <div nz-row nz-typography>
        <div nz-row *ngFor="let doc of library">
          <app-nz-card-pro
            [title]="doc.title"
            [description]="doc.description"
            [url]="doc.url"
            [urlImage]="doc.urlImage"
          ></app-nz-card-pro>
        </div>
      </div>
    </article>
  </div>
</div>
