<nz-card nzHoverable
         style="width:300px; height: 500px; margin-left: 5px"
         [nzCover]="coverTemplate">
  <nz-card-meta [nzTitle]="title" [nzDescription]="description"></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img style="width: 300px; height: 300px" (click)="openNewTab(url)" alt="example" [src]="urlImage"/>
</ng-template>
